Text on Acct-Delay-Time

Perhaps move the text on Acct-Delay-Time from Section 4.5.1, which talking about proxies.  Then add a new 4.6:

4.6 Acct-Delay-Time

In order to avoid congestive collapse, is is RECOMMENDED that RADIUS/
(D)TLS clients which originate Accounting-Request packets (i.e. not
proxies) do not include Acct-Delay-Time in those packets. Instead,
those clients SHOULD include Event-Timestamp, which is the time at
which the original event occurred. The Event-Timestamp MUST NOT be
updated on any retransmissions, as that would both negate the meaning
of Event-Timestamp, and also create the same problem as with Acct-
Delay-Time.

Not using Acct-Delay-Time allows for RADIUS/DTLS packets to be retransmitted without change.  In contrast, updating Acct-Delay-Time would require that the client create and send a brand new packet, without signalling the server that the previous packet is no longer active.  This process can occur repeatedly, which leads to multiple different packets containing effectively the same information (except for Acct-Delay-Time).  This duplication contributes to congestive collapse of the network.

Not using Acct-Delay-Time also removes an unambiguity around retransmitted packets for RADIUS/TLS.  Since there is no change to the packet contents when a retransmission timer expires, no new packet ID is allocated, and therefore no new packet is created.

Where systems do include Acct-Delay-Time in RADIUS/TLS packets, they SHOULD use timers to detect packet loss, as suggested in RFC5080 Section 2.2.1.  However, those timers MUST NOT result in transmission of any packet.  Instead, the timers could be used to log messages indicating that the client is still waiting for a reply, and to determine that packet loss has, in fact, occurred.

As TLS is a reliable transport, RADIUS/TLS clients can only retransmit a packet if a connection closes without that packet receiving a reply.  See Section 5.1, below, for more discussion of this topic.

