Check-in on which TLS versions need to be supported

In his shepherd review, Valery suggested that we defer to RFC9325 regarding supported versions of TLS, and that we remove the explicit recommendation from our document:

- * Support for TLS 1.2 {{!RFC5248}} / DTLS 1.2 {{!RFC6347}} is REQUIRED, support for TLS 1.3 {{!RFC8446}} / DTLS 1.3
- * {{!RFC9147}} or higher is RECOMMENDED.

Janfred objected stating that this text was agreed by the WG in the early stages of this document.

Time has elapsed, RFC 9325 has come along, and we may want to revist the decision to make our own list of supported versions?  The WG will need to decide.