Minor issues from Fabian

Here my review of draft-ietf-radext-radiusdtls-bis-12
(topics already raised in other reviews are not repeated)

1. Section 3.7 paragraph 3:
> To avoid these issues, RadSec clients MUST mark a connection 'DOWN'
> (as labelled by [RFC3539], Section 3.4) if one or more of the
> following conditions are met:

I think the intention here was that the lack of a response should not trigger a connection being declared 'DOWN', but only the application layer watchdog or underlying transport status. However, the current text does not say this. I would thus suggest this change:

RadSec clients MUST mark a connection 'DOWN' ([...]) **only** if one or more of the following conditions are met:


2. Section 3.8.1 paragraph 4:
> Where the connection to a RadSec server is established only when there
> is a RADIUS packet to be sent, adding subsequent RADIUS packets to be
> sent SHOULD NOT trigger an immediate reconnection attempt. Instead,
> the algorithm SHOULD continue as it would have without the new packet,
> but the client MAY reset the timeout for giving up reconnecting.

I'm struggling a bit understanding this. From context, this covers the situation of adding packets to the send queue, before a connection is established (e.g. while waiting for the next connection attempt). If so, I would suggest a slight addition:

[...], adding subsequent RADIUS packets **to the send queue before the connection is successfully established ** SHOULD NOT trigger an immediate reconnection attempt.


3. Section 3.11 paragraph 3:
> With DTLS, the "next" packet does not depend on proper decoding of the
> previous packet, since the RADIUS packets are sent in independent DTLS
> records.

This is the first mention of RADIUS packets to DTLS records relationship in the document. Should we add a reference to section 5.1?


4. Section 3.11 paragraph 4:
> [...] in the RADIUS specification referenced above [...]

The preceding sections don't (or no longer do) reference a specific RADIUS specification, just generally 'the RADIUS specifications'


5. Section 4.1 paragraph 5 (last):
> As an implementation note, it is RECOMMENDED that [...]

This paragraph talks about implementation. Maybe consider move this to somewhere in Section 6?
(no strong feelings really, just a consideration since we now have an Implementation Considerations section)


6. Section 6.2.3 paragraph 3:
> While a single UDP packet may have a negligible transmission time,
> application data sent via TLS could arrive at the sender with a
> significant delay

could arrive at the **receiver**, not the sender?


7. Section 6.2.3 paragraph 5:
> Where RadSec clients do include Acct-Delay-Time in RADIUS packets, the
> client SHOULD use timers to detect packet loss, as described in
> Section 3.8.2. Where RadSec clients do include Acct-Delay-Time in
> RADIUS packets, the client can rely on the Event-Timestamp to signal
> delays, and therefore SHOULD NOT update the Acct-Delay-Time. If the
> timer has determined that the original packet has been completely
> lost, the client SHOULD then create a new RADIUS packet with the same
> information, but and MAY update Acct-Delay-Time.

I have a really hard time understanding what we mean with the first part of this paragraph. I feels like snippets of two versions of this paragraph have been mangled together.


8. Section 7.8
This is (mostly) about implementing complex systems, and not really about security. Maybe this would better fit in the implementation considerations (section 6)?

