Packet Expiry timers

Not much in the existing text discusses the retransmission timers in RFC 5080 Section 2.2.1.  Perhaps we could add a new section, before the Acct-Delay-Time text mentioned in #36 

4.x Client Timers

RADIUS/(D)TLS clients MUST implement retransmission timers such as the ones which are defined in RFC 5080 Section 2.2.1.  Other methods are possible, but any timer implementation MUST have similar properties of including jitter and exponential backoff.

As TLS is a reliable transport, RADIUS/TLS clients can only retransmit a packet if a connection closes without that packet receiving a reply. 
 Similarly, RADIUS/DTLS can only retransmit packets when it runs over an unreliable transport such as UDP. 

Where RADIUS/(D)TLS runs over a reliable transport, these timers MUST NOT result in transmission of any packet. Instead, the timers could be used to log messages indicating that the client is still waiting for a reply, and to determine that packet loss has, in fact, occurred when RFC 5080 Section 2.2.1 MRD or MRC has been reached.

See Section 5.1, below, for more discussion of retransmission behavior.

