TLS Record count limitation

In (D)TLS, we can only encrypt a limited number of records until the security degrades.
For RADIUS/(D)TLS we have long-lived TLS sessions where we might reach this limit.

We need to decide whether or not we put some normative/informational text in the document.
Instead we could leave this to the uta or tls WG and say nothing about this.

Is there a TLS/DTLS RFC which mentions this issue?  If so, we can just reference that.  We don't need to mention this issue specifically.

If not, we could put it on the list of things to do for UTA.

Section 5.5 of RFC 8446 for TLS 1.3 sets the limit for AES-GCM and ChaCha20-Poly1305. There is also more generic document for AEAD limits: https://datatracker.ietf.org/doc/draft-irtf-cfrg-aead-limits/