Client Connection Attempts

OpenRoaming implementers have seen issues where RADIUS/TLS clients repeatedly try to connect to servers, despite their connections not being accepted

That is, the TCP port is open, but after exchanging TLS data, the server decides that the client should not be allowed access, and closes the connection.  This usually happens when the client is misconfigured:

* client is using the wrong credentials (invalid PSK or client certificate from unknown or wrong CA)
  * Section 4.3 discusses client identity, and states that depending on the presented credentials,

```
the server may decline to perform RADIUS transactions with this client`
``` 
* the client is coming from an untrusted network.
  *  Section 7.3 of this document discusses filtering

```
If every RADIUS/(D)TLS client is configured with an IP range, then the server does not even have to perform a partial TLS handshake if the connection attempt comes from outside every allowed range, but can instead immediately drop the connection.
```

The observed behavior is that some clients are attempting to reconnect multiple times a second, which is unfriendly.

The current Section 4 has no text on reconnection attempts.  Perhaps we could add a section to discuss this, using timers similar to [RFC 5080 Section 2.2.1](https://www.rfc-editor.org/rfc/rfc5080.html#section-2.2.1)

---

4.8 Client Connection Attempts

When a client fails to open a connection, it SHOULD wait for a
period of time, and then try the connection attempt again.

Some existing RADIUS clients implement excessively aggressive
reconnection behavior, utilizing default reconnection timeouts of
one second or less without support for congestive backoff.  When
deployed at a large scale, these implementations are susceptible to
congestive collapse. 

RADIUS client connection timers are based on the model used RFC 5080
Section 2.2.1.  Variables used here are also borrowed from this
specification.  The connection attempts terminate when the client
successfully connects to the server, or the connection attempts are
considered to have failed according to the reconnection
mechanism described below.  Other reconnection mechanisms are
possible, as long as they satisfy the requirements on jitter and
congestive backoff.

The following algorithms MUST be implemented by any client that originates RADIUS/TLS
connections.

The reconnection behavior is controlled and described by the
following variables:

      RT     Reconnection timeout

      IRT    Initial reconnection time  (default 2 seconds)

      MRC    Maximum reconnection count (default 15 attempts)

      MRT    Maximum reconnection time (default 300 seconds)

      MRD    Maximum reconnection duration (default 3600 seconds)

      RAND   Randomization factor

With each connection attempt, the sender sets RT according to the
rules given below.  If RT expires before the connection is successful,
the sender re-computes RT and makes another connection attempt.

Each of the computations of a new RT include a randomization factor
(RAND), which is a random number chosen with a uniform distribution
between -0.1 and +0.1.  The randomization factor is included to
minimize the synchronization of messages.

The algorithm for choosing a random number does not need to be
cryptographically sound.  The algorithm SHOULD produce a different
sequence of random numbers from each invocation.

RT for the first connection attempt is based on IRT:

      RT = IRT + RAND*IRT

RT for each subsequent connection attempt is based on the
previous value of RT:

      RT = 2*RTprev + RAND*RTprev

MRT specifies an upper bound on the value of RT (disregarding the
randomization added by the use of RAND).  If MRT has a value of 0,
there is no upper limit on the value of RT.  Otherwise:

      if (RT > MRT)
         RT = MRT + RAND*MRT

MRD specifies an upper bound on the length of time that a
client may try to connect to a server.  The client stops its'
connection attempts when MRD seconds have elapsed since it first
attempted to connect .  MRD MUST be set, MUST NOT have a value higher
than 86400 seconds.  MRD SHOULD have a value between 300 and 86400
seconds.

MRC specifies an upper bound on the number of times a client may try
to reconnect to a server.  If MRC is zero, The client stops its'
connection attempts once MRD seconds have elapsed since the client
first attempted to connect.  If MRC is non-zero, The client stops its'
connection attempts when either it as tried MRC connection attempts,
or when MRD seconds have elapsed since the client first attempted to
connect.

The recommended values for these variables are a balance between
enabling fast reconnection when there are transient network outages,
and acknowledging that infinite retries are not desired.  That is, if
a RADIUS server cannot be reached within a day, then the problem is
likely due to client misconfiguration, and is not due to a transient network
outage.  Once a client stops its reconnection attempts due to reaching
MRC or MRD, it SHOULD log a descriptive error indicating that the
server is unreachable.  This error serves as an indication that
administrator intervention is needed.

The client then MUST NOT make any more connection attempts until an
administrator has intervened.  This administrator intervention could take any form,
such as setting a "reconnect now" flag.  Other forms of this
intervention are implementation defined, and are outside of the scope
of this specification.


This issue is only for RADIUS/(D)TLS and RADIUS/TCP.  Those transports have connections between the client and server.

RADIUS/UDP doesn't have connections.  Even connected UDP sockets are pretty bad, and don't always work the way you would think.  RADIUS/UDP historically has just done per-packet retransmissions, and completely ignored the idea of a "connection".

So since this is an issue for RADIUS/(D)TLS, and not so much for RADIUS/UDP, I think it's OK to add here.

If we don't add it here, then this text will have to wait for a new standards-track document.  Which is likely to be a long time coming.

I agree, clients retrying to connect too fast can be an issue. So putting in some limits might be good. As Janfred suggested, I'm in favor of keeping it short and not overspecify it. I don't think we need to compel implemetors do it in exactly this way - as long as a somewhat reasonable back-off is implemented.

I see two important points to mandate:
- a lower bound: don't retry a connection earlier than, say, 2 seconds
- an exponential back-off (double the reconnect timer every time it fails - with an upper limit. Currently I limit the back-off to 60s; see below)
- mabye add jitter (not sure if mandating it is required, but implementations may do it)

No strong feelings about the exact numbers to recommend or mandate - I've chosen mine arbitrarily.

Applying the RFC5080 algorithm directly, I see one particular issue: giving up the connection attempts completely. Might be wishful for misconfigured clients, but it creates issues in certain situations: e.g. when a radius server (idp or proxy) is down for maintenance or otherwise unreachable for some time. If that time is too long, the clients would have given up and never recover without admin intervention. As an infrastructure/service operator, this is a no-go for me. For this, I also limit the back-off timer, to ensure a reasonable recovery time after a server is back alive.


> I would also be concerned about systems which are affected by the original proposal. For me. if the RADIUS server is down for days, then this signifies a fairly catastrophic error. In that case, the RADIUS clients should arguably stop their connection attempts, because it likely doesn't mean that the RADIUS server is down, it means that the client was misconfigured.

I would be careful with such an assumption. While this might be the case for you, the internet is not monolithic and by restricting the standards beyond reasonable limits, we can have one of two outcomes: Either the standard doesn't get accepted/implemented/used/..., because it causes too much problems or the implementations simply ignore the annoying restrictions.
Neither outcome is good and what we want.
I would argue that especially the second case is highly problematic, because implementers may start ignoring requirements that are security relevant and introduce vulnerabilities. (We can't stop them from ignoring requirements, but if we add arbitrary requirements, I suspect the willingness to ignore other requirements would go way up.)

One use case from the top of my head: An organization has 3 redundant RADIUS servers. For bigger maintenance, one of the servers is taken offline for a longer period of time.
Everything still works and is redundant, but if the goal is, for example, to perform the maintenance on each of the three servers with, let's say, one week in between, then clients would loose the connection to all three servers, because they would mark the server as dead and not retry.

> Clients already have to (or should) implement the retransmission requirements of RFC 5080. Using the same algorithm here should make it easier to implement. Plus, there is no real reason to have a different algorithm.

Not if the nodes are RADIUS/TLS (or RADIUS/TCP) only, since RADIUS/TLS doesn't have any retransmissions.
I also gather that the "retransmission of packets" code may not translate 1:1 to "re-opening of sessions", so it is a non-negligible implementation effort.

A quick thought about a more nuanced provision whether to give up or not:

If the connection is configured static and keep permanently up (i.e. no idle timeout), of if there are active radius requests to be sent, don't give up.
If there are no more requests to be sent (radius requests have timed out or already sent to another server), (i.e. idle timeout with no outstanding requests), give up trying. Of course, a new attempt may start with a new radius request, but overall retry limitations MUST still apply.