MAY or SHOULD for indicating trust anchors

From Vadim's review:

> Section 3.1.1
> Implementations SHOULD indicate their trust anchors when opening or accepting TLS connections. See 
> [RFC5246], Section 7.4.4 and [RFC6066], Section 6 for TLS 1.2 and [RFC8446], Section 4.2.4 for TLS 1.3.

TLS 1.3 specifies this capability using MAY for both client and server. What is the rationale for strengthening this to SHOULD here? In addition, this behavior may introduce security or privacy concerns. For example, a multi-tenant RADIUS server may not wish to disclose information about other configured tenants by advertising all supported CAs. At a minimum, I think the use of 'SHOULD' here deserves reconsideration.