Missing text on allowed packets (needed for Reverse CoA)

The document is missing text on which packets are allowed to be processed on what port.  Likely we can just copy everything from 6614:

https://datatracker.ietf.org/doc/html/rfc6614#section-2.5

The reverse CoA document needs this section, to replace an existing reference to RFC6614, Section 2.5.  The IESG review is that the reverse CoA document should reference this one, and not 6614 / 7360.